@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;

  --csGreen: #00b189;
  --csGreenShaded: #27634d;
  --csYellow: #ffb100;
  --csYellowShaded: #d99d26;
  --csBlue: #4074bc;
  --csBlueShaded: #234063;

  --csBlack: #000000;
  --csWhite: #ffffff;
  --csDarkGrey: #32322e;
  --csDarkGreyShaded: #191917;
  --csMediumGrey: #9d9d95;
  --csMediumGreyShaded: #6e6e68;
  --csLightGrey: #f5f5f1;
  --csLightGreyShaded: #ddddd9;
}

body {
  min-height: 100vh;
  background-color: #f5f5f1;
}

h1 {
  text-align: center;
  font-size: large;
}
.campspace_widget {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 0px;

  width: 900px;
  height: 375px;
  background-color: white;

  border-radius: 25px;

  position: absolute;
  left: 28%;
  top: 28%;
}

.campspace_widget__image img {
  /*background-image: url("./assets/b7a0ea71d5ecc143a3b605b5bc2312e3.jpeg"); */
  width: auto;
  height: 375px;
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
}

.campspace_widget__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 2rem;
  max-width: 70%;
}

.campspace_widget__info_logo {
  max-width: 100%;
}

.campspace_widget__info_title {
  color: var(--csMediumGreyShaded);
  font-size: 1.3rem;
  font-weight: 500;
}

.campspace_widget__info_book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campspace_widget__info_book a {
  text-decoration: none;
  width: 80%;
}

.campspace_widget__info_button {
  background-color: var(--csBlue);
  color: var(--csWhite);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-radius: 1.2rem;
}